html {
  width: 100%;
}

body {
  background-color: black;
  width: 100%;
}

header {
  text-align: center;
}

h1 {
  color: white;
}

#container-forms {
  height: 500px; /*a remettre en viewpport "vh"*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#btn-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 10%;
  height: 15%;
}

button.btn.btn-primary {
  margin-bottom: 20px;
}

.form {
  cursor: pointer;
  background-color: cadetblue;
}

.form, .clicked {
  border: 8px solid white;
}

.squarre, .circle, .losange {
  width: 50px;
  height: 50px;
}

.circle {
  border-radius: 50%;
}

.losange {
  transform: rotate(45deg)
}

.noColorClass {
  background-color:cadetblue;
}

.formsColor {
  background-color: red;
}

.losangeColor {
  background-color: orange;
}

.circleColor {
  background-color: yellow;
}

.squarreColor {
  background-color: springgreen; 
}

.formsAnimClass {
  animation-name: colorFormsAnim;
}

.emptyAnimClass {
  animation-name: emptyColorAnim;
}

.squarreAnimClass {
  animation-name: squarreClrAnim;
}
.circleAnimClass {
  animation-name: circleClrAnim;
}
.losageAnimClass {
  animation-name: losangeClrAnim;
}

.emptyAnimClass {
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
}

.squarreAnimClass, .circleAnimClass, 
.losageAnimClass, .formsAnimClass {
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
}

@keyframes squarreClrAnim {
  0% { background-color: springgreen;};
  50% { background-color: cadetblue;};
  100% { background-color: springgreen;};
}

@keyframes circleClrAnim {
  0% { background-color: yellow;};
  50% { background-color: cadetblue;};
  100% { background-color: yellow;};
}

@keyframes losangeClrAnim {
  0% { background-color: orange;};
  50% { background-color: cadetblue;};
  100% { background-color: orange;};
}

@keyframes colorFormsAnim {
  0% { background-color: red;};
  50% { background-color: cadetblue;};
  100% { background-color: red;};
}

@keyframes emptyColorAnim {
  0% { background-color: black;};
  50% { background-color: black;};
  100% { background-color: cadetblue;};
}